footer{
        height:50px;
        line-height:50px;
        background:black;
        color:white;
        text-align:center;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
      
}

.form-asigancion{
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 1em;
}

.btns{
    width: 39%;
    margin: auto;
    margin-top: 2em;
}